<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TAG F2F breakouts</title>
	<link rel="stylesheet" href="https://get.mavo.io/mavo.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>

<div id="app_el" class="loading">
	<aside>
		<fieldset>
			<label>
				<input type="checkbox" v-model="filter.markdown">
				Markdown view
			</label>
		</fieldset>
		<fieldset>
			<legend>Filter by participant <button @click="filter.participants = []">❌</button></legend>
			<select multiple v-model="filter.participants" :size="participants.size">
				<option v-for="participant of participants">{{ participant }}</option>
			</select>

			<div :hidden="filter.participants.length < 2">
				<label>
					<input type="radio" v-model="filter.anyorall" name="anyorall" value="any" checked>
					Any
				</label>
				<label>
					<input type="radio" v-model="filter.anyorall" name="anyorall" value="all">
					All
				</label>
			</div>
		</fieldset>
	</aside>
	<main>
		<h2>
			<span class="md-only">## </span>
			<strong>{{ countShown }}</strong> breakouts and
			<strong>{{ countIsusuesShown }}</strong> issues shown</h2>
		<table>
			<thead>
				<th>Breakout</th>
				<th>Participants</th>
				<th>Issues</th>
			</thead>
			<tbody>
				<tr v-for="(breakout, slot) in breakouts" v-show="breakout.shown">
					<td>
						<h3>
						<span class="md-only">### Slot</span>
						{{ slot }}
						</h3>
					</td>
					<td class="participants" v-if="!breakout.orphan">
						<p>
						<span class="md-only">Participants: </span>
						<template v-for="(participant, i) of breakout.participants">
							<a class="participant" @click="filter.participants = [participant]">{{ participant }}</a>{{ i < breakout.participants.length - 1 ? ', ' : '' }}
						</template>
						</p>
					</td>
					<td v-else>
						<div class="warning">
							Orphaned breakout (no participants)
						</div>
					</td>
					<td>
						<set-data :on="breakout" name="shown" :value="isShown(breakout)" hidden></set-data>
						<ol v-if="breakout.issues?.length">
							<li v-for="(issue, i) of breakout.issues">
								<template v-if="filter.markdown">
									{{ i + 1 }}.
									<a :href="issue.url" target="_blank">[{{ issue.name }}]({{ issue.url }})</a>
								</template>
								<template v-else>
									<a :href="issue.url" target="_blank">{{ issue.name }}</a>
									<div class="comment">{{ issue.comment }}</div>
								</template>
							</li>
						</ol>
						<div v-else class="warning">
							No issues
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</main>
</div>

<script src="index.js" type="module"></script>

</body>
</html>